$accentColor = #48B381
$textColor = #FAFBFC
$borderColor = #332E3C
$codeBgColor = #190B28

html, body , .navbar {
  background-color: #332E3C;
}

.sidebar, .theme-container .sidebar {
 background-color: #190B28;
}

.theme-container .navbar,
.theme-container .links,{
  background-color: #332E3C;
}

.theme-container .search-box input,
.theme-container .search-box .suggestion a {
  color: #332E3C;
}

.theme-container .content code {
  background-color: #332E3C;
}